@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* YOUR CUSTOM STYLES */
@media only screen and (min-width: 0) {
  html {
    font-size: 13px; } }

@media only screen and (min-width: 992px) {
  html {
    font-size: 13px; } }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 13px; } }

.navbar {
    border-radius: 0;
}

.container-fluid {
    padding-left: 0;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - 50px);
    width: 260px;
}

.sidebar .logo {
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
    margin: 25px 5px;
}

.sidebar-wrapper ul li {
    padding: 10px 0;
}

.sidebar-wrapper ul li a {
    font-size: 14px;
    color: #484848;
    font-weight: bold;
}

.sidebar-wrapper ul li ul {
}

.sidebar-wrapper ul li ul li {
    padding: 10px;
    background: rgba(50, 50, 50, 0.05);
    margin: 0 0 1px 0;
}

.sidebar-wrapper ul li.togglable.toggled {
    background: rgba(50, 50, 50, 0.02);
}

.sidebar-wrapper ul li.togglable>a:after {
    content: "\f0da";
    float: right;
    margin-right: 10px;
    font-family: "FontAwesome";
}

.sidebar-wrapper ul li.togglable.toggled>a:after {
    content: "\f0d7";
}

.sidebar-wrapper ul li.togglable>ul {
    display: none;
}

.sidebar-wrapper ul li.togglable.toggled>ul {
    display:block;
}

.sidebar-wrapper ul li.active,.sidebar-wrapper ul li.active>a {
    color: #F44336;
}

.sidebar-wrapper ul li i {
    font-size: 20px;
    margin: 0 10px 0 0;
}

.sidebar-wrapper ul li ul li a {
    font-weight: normal;
}

.sidebar-wrapper ul li ul li i {
    font-size: 12px;
}

.mainpanel {
    float: left;
    margin: 30px 0 0 280px;
    width: calc(100vw - 300px);
}

label {
    font-size: inherit;
}

.modal-title {
    margin-left: 10px;
}