<h5>{{database}}.{{table}}</h5>
<div class="row">
    <div class="col-md-9">
        <div class="card mt-2 animated fadeIn">
            <div class="card-header teal white-text">
                <i class="fa fa-random"></i> Per Field Configuration
            </div>
            <div class="card-block" id="block_1">
                <div class="row" ng-repeat="column in columns" ng-if="column.Extra !== 'auto_increment'">
                    <div class="col-md-2 mt-1">
                        <label>{{column.Field}}</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control mt-1" ng-model="column.mode">
                            <option value="S">Static value</option>
                            <option value="I">Randomize from interval</option>
                            <option value="L">Randomize from list</option>
                            <option value="K" ng-if="column.Key === 'MUL'">Randomize from parent table</option>
                            <option value="N">Increment</option>
                            <option value="M">Lorem</option>
                            <option value="MR">Lorem random</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="column.value" ng-if="column.mode === 'S'" placeholder="Value"/>
                        <select class="form-control mt-1" ng-if="column.mode === 'L'" ng-model="column.list_id">
                            <option ng-repeat="list in lists" value="{{list.id}}">{{list.label}}</option>
                        </select>
                        <div ng-if="column.mode === 'I'">
                            <div data-myinterval data-type='{{column.Type}}'></div>
                        </div>
                        <div ng-if="column.mode === 'N'">
                            <input type="text" class="form-control col-md-7 pull-left" ng-model="column.start_value" placeholder="Start"/>
                            <input type="number" class="form-control col-md-4 pull-right" ng-model="column.increment" placeholder="Increment"/>
                        </div>
                        <div ng-if="column.mode === 'K'">
                            <input type="text" class="form-control" value="{{column.parent.REFERENCED_TABLE_NAME}}.{{column.parent.REFERENCED_COLUMN_NAME}}" readonly=""/>
                        </div>
                        <div ng-if="column.mode === 'M'">
                            <select class="form-control mt-1" ng-model="column.lorem_id">
                                <option ng-repeat="lorem in lorems" value="{{lorem.id}}">{{lorem.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mt-2">
                            <a ng-click="advanced(column)" title="Advanced configuration"><i class="fa fa-cog"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mt-2 animated fadeIn">
            <div class="card-header teal white-text">
                <i class="fa fa-wrench"></i> General Configuration
            </div>
            <div class="card-block" id="block_2">
                <div class="md-form">
                    <input type="number" class="form-control" id="current_rows" ng-model="current_rows" readonly=""/>
                    <label for="current_rows" class="active">Current rows</label>
                </div>
                <div class="md-form">
                    <input type="number" class="form-control" id="nb_rows" ng-model="nb_rows"/>
                    <label for="nb_rows">Nb. Rows to generate</label>
                </div>
                <div class="md-form">
                    <button class="btn stylish-color white-text" ng-click="generate()">Generate</button>
                </div>
            </div>
            <div class="card-footer  stylish-color"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Advanced configuration</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Post-function</label>
                            <select class="form-control" ng-model="current_column.post_function">
                                <option value="">-- NONE --</option>
                                <option value="str_pad">STR_PAD</option>
                                <option value="strtoupper">UPPER</option>
                                <option value="strtolower">LOWER</option>
                                <option value="substr">SUBSTR</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-if="current_column.post_function === 'str_pad'">
                            <div class="md-form">
                                <input type="number" class="form-control mt-1" ng-model="current_column.pad_length">
                                <label>Pad Length</label>
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="current_column.post_function === 'str_pad'">
                            <div class="md-form">
                                <input type="text" class="form-control mt-1" maxlength="1" ng-model="current_column.pad_char">
                                <label>Pad Char</label>
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="current_column.post_function === 'str_pad'">
                            <label>Pad type</label>
                            <select class="form-control" ng-model="current_column.pad_type">
                                <option value="0">LEFT</option>
                                <option value="1">RIGHT</option>
                                <option value="2">BOTH</option>
                            </select>
                        </div>
                        <div class="col-md-2" ng-if="current_column.post_function === 'substr'">
                            <label>Length</label>
                            <input type="number" ng-model="current_column.substr_length"/>
                        </div>
                    </div>
                </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>